<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @color_logo.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @color_logo.name %>
</p>

<p>
  <strong>Font set:</strong>
  <%= @color_logo.font_set %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @color_logo.theme %>
</p>

<p>
  <strong>Primary color:</strong>
  <%= @color_logo.primary_color %>
</p>

<p>
  <strong>Seconday color:</strong>
  <%= @color_logo.seconday_color %>
</p>

<p>
  <strong>Default:</strong>
  <%= @color_logo.default %>
</p>

<p>
  <strong>False}:</strong>
  <%= @color_logo.false} %>
</p>

<%= link_to 'Edit', edit_color_logo_path(@color_logo) %> |
<%= link_to 'Back', color_logos_path %>
