<!DOCTYPE html>
<html>
  <head>
    <title>*****</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image:url('/assets/gallery/01.png');">
      <div class="wrapper row1">
        <%= render "layouts/header" %>
      </div>
      <div id="pageintro" class="hoc clear">
        <article class="introtxt">
          <h2 class="heading">Suscipit ex aliquam</h2>
          <p>Erat volutpat vivamus et velit at risus.</p>
          <footer><a class="btn inverse" href="#">Laoreet pretium</a></footer>
        </article>
        <div class="clear"></div>
      </div>
    </div>
    <!-- End Top Background Image Wrapper -->
    <%= yield %>
  </body>
</html>
